{% extends "AdminBundle:Admin:index.html.twig" %}

{% block body %}   
 		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<header id="header">
					<h1><a href="{{ path('Admin_accueil') }}">Accueil</a></h1>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li id="accueil"><a href="{{ path('Admin_accueil') }}">Accueil</a></li>                      			
                      			<li id="calendrier"><a href="#" onclick="afficheCalendrierAdmin()">Calendrier</a></li>
								<li><a href="{{ path('fos_user_security_logout')}}">Déconnexion</a></li>
							</ul>							
						</div>
					</nav>
				    <section id="contenu">
				    	{% block contenu %} 
            				<!-- Wrapper -->
            					<section id="wrapper">
            						{% block wrapper %}
            						<!-- One -->
            							<section id="one" class="wrapper spotlight style1">
            								<div class="inner">
            									<a href="#" class="image"><img src="{{ asset('bundles/public/images/pic01.jpg')}}" alt="" /></a>
            									<div class="content">
            										<h2 class="major">Les clients</h2>                                                               		                                                                  
                                                    <div>                                        
                                                        <div id="rechercheClient">
                                                                <input  class="typeahead" type="text" placeholder="Rechercher un client" style="margin: 0 auto;" data-provide="typeahead" autofocus />
                                                        </div>	
                                                    </div>            										            										
            									</div>
            								</div>
            							</section>
            							{% endblock %}
            					</section>            					
            			{% endblock %}
    				</section>
		<section id="footer">
		{% block footer %}			
		{% endblock %}
					</section>
        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('bundles/admin/js/clients.js')}}"></script>
        {% endblock %}

{% endblock %}