{% extends "PublicBundle:Public:index.html.twig" %}

{% block body %}   
 		<!-- Page Wrapper -->
			<div id="page-wrapper">

                {% block header %}
                	{{ parent() }}
                {% endblock %}
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li id="accueil"><a href="{{ path('Admin_accueil') }}">Accueil</a></li>                      			
                      			<li id="calendrier"><a href="#" onclick="afficheCalendrierAdmin()">Calendrier</a></li>
								<li><a href="{{path('Admin_liste_client')}}">Les clients</a></li>
								<li><a href="{{ path('fos_user_security_logout')}}">Déconnexion</a></li> 
							</ul>							
						</div>
					</nav>
				    <section id="contenu">
				    	{% block contenu %} 
            				<!-- Wrapper -->
            					<section id="wrapper">
            						{% block wrapper %}
            						<!-- One -->
            							<section id="one" class="wrapper spotlight style1">
            								<div class="inner">
            									<a href="#" class="image"><img src="{{ asset('bundles/public/images/pic01.jpg')}}" alt="" /></a>
            									<div class="content">
            										<h2 class="major">Admin: {{ app.user.prenom |lower }} {{ app.user.nom }}                                                                		              
                                                    </h2>
                                                    <div class="wrapperDivContenu">                                        
                                                         <ul> 
                                                             <li><a href="{{path('Admin_liste_client')}}">Les clients</a></li>
                                                             <li><a href="{{ path('fos_user_security_logout')}}">Déconnexion</a></li>                                                                                                                                                
                                                        </ul>
                                                    </div>            										            										
            									</div>
            								</div>
            							</section>
            							{% endblock %}
            					</section>            					
            			{% endblock %}
    				</section>

		{% block javascripts %}
    		<!-- Scripts -->
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('bundles/reservation/js/bootstrap-typeahead.js')}}"></script>           		
		{% endblock %}
{% endblock %}





