<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Beezyweb{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="landing">
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/public/assets/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bundles/public/assets/js/jquery.scrolly.min.js')}}"></script>
        <script src="{{ asset('bundles/public/assets/js/jquery.dropotron.min.js')}}"></script>
        <script src="{{ asset('bundles/public/assets/js/jquery.scrollex.min.js')}}"></script>
        <script src="{{ asset('bundles/public/assets/js/skel.min.js')}}"></script>
        <script src="{{ asset('bundles/public/assets/js/util.js')}}"></script>            
        <script src="{{ asset('bundles/public/assets/js/main.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/easing.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/jquery.ui.totop.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/launch.js')}}"></script>>
    </body>
</html>
