<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Beezyweb{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/public/assets/js/jquery.min.js')}}"></script>
        <style>
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}




/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
    </head>
    <body class="landing">
            <!-- Header -->
        {% block header %}
        {% endblock %}
        <div id="page-wrapper">                
            <div id="main" class="wrapper style1">                     
                <div class="container">
                    <div class="logo"><span class="icon fa-diamond"></span></div> 
         <section id="contenu">
        {% block contenu %}{% endblock %}
        </section>
                </div>            
            </div>
        </div>                
        <!-- Footer -->
        <section id="footer">
            <section class="major">						
                <div class="inner">
                    <h2 class="major">Contact</h2>		
                    <form method="post" action="">
                        <div class="field">
                            <label for="name">Nom</label>
                            <input required="required" type="text" name="nom" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input required="required" type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="sujet">Sujet</label>
                            <input required="required" type="text" name="sujet" id="sujet" />
                        </div>								
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea required="required" name="message" id="message" rows="4"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Envoyer" /></li>
                        </ul>
                    </form>
                    <ul class="contact">
                        <li class="fa-home">
                            NOUMIA KEWOU<br />
                            14200 <br />
                            Hérouville Sain-Clair<br />
                            1021
                            Bd des Belles-portes
                        </li>
                        <li class="fa-phone">(+33) 6 15 66 47 58 </li>
                        <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
                        <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
                        <li class="fa-facebook"><a href="https://www.facebook.com/Beezy-Start-up-1459462844287068/">facebook.com/untitled-tld</a></li>								
                    </ul>
                    <ul class="copyright">
                        <li>&copy; NOUMIA KEWOU. All rights reserved.</li><li>2015-{{ 'now'|date('Y') }}</li>
                    </ul>
                </div>						
            </section>
        </section>        
        <script type="text/javascript" src="{{ asset('bundles/public/bootstrap/js/bootstrap.min.js')}}"></script>

        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/easing.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/jquery.ui.totop.js')}}"></script> 
        <script type="text/javascript" src="{{ asset('bundles/public/js/toTop/js/launch.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        <script src="{{ asset('bundles/user/js/Inscription.js')}}"></script>
        <script src="{{ asset('bundles/user/js/message_fr.js')}}"></script>
        <script src="{{ asset('bundles/calendrier/ajax/reservation.js')}}"></script>
    </body>
</html>
