{% extends "PublicBundle:Public:index.html.twig" %}

{% block menu %}
    <nav id="nav">
        <ul>            
            <li><a href="{{path("fos_user_profile_show")}}">{{user.nom}}{{user.prenom}}</a></li>
            <li><a href="{{path("fos_user_profile_edit")}}">Paramètres</a></li>
            <li><a href="{{path("fos_user_security_logout")}}" class="button special">Deconnexion</a></li>
        </ul>
    </nav>  
{% endblock %}