{% extends "PriveeBundle:Privee:index.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block contenu %}
    <h2 class="major">Paramètres généraux du compte</h2>                                                
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_row(form.nom,{'attr': {'placeholder': '    Nom'}}) }}                    
            {{ form_row(form.prenom, {'attr': {'placeholder': '    Prénom'}}) }}
            {{ form_row(form.telephone, {'attr': {'placeholder': '    6 15 66 47 58'}})}}            
            {{ form_end(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    											
{% endblock contenu %}


