
{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
<!-- Header -->
	<header id="header">
		<h1><a href="{{ path('Public_accueil') }}">Accueil</a></h1>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>
{% endblock %}

<section id="wrapper">
	{% block wrapper %}
	<!-- One -->
		<section id="one" class="wrapper spotlight style1">
			<div class="inner">
				<a href="#" class="image"><img src="{{ asset('bundles/public/images/pic01.jpg')}}" alt="" /></a>
				<div class="content">
					<h2 class="major">Mon compte</h2>
					<div class="wrapperDivContenu">
						<ul>		
							<li>{{ user.prenom}} {{ user.nom }}</li>
							<li>{{ user.email }}</li>
							<li>0{{ user.telephone }}</li>
							<li><span class="thInfos">Solde:&nbsp&nbsp;</span>  <span class="tdInfos">{{ user.money}}€</span></li>
							<li><span class="thInfos">Quota:&nbsp;&nbsp;</span>  <span class="tdInfos">{{ user.solde }}H</span></li>
						</ul>            
                    </div>
                        <hr>
                        {% if lesResa|length > 0 %}
                         <h3 class="titreGestion">Mes réservtions</h3>
                         <div id="rdvUser">
                         	{% set iter = 1 %}
                         	<ul>
                         	    {% for resa in lesResa %}
                         	    <li><span class="thInfos">| {{ iter }} |</span>  <span class="tdInfos">{{ resa.dateRservation|date | localizeddate("medium", "none", null, null, "cccc d LLLL à H'h'")}}</span></li>            
                                {% set iter = iter + 1 %}
                                {% endfor %}
                         	</ul>
                         </div>
                         
                        {% else %}
                        	<h3>Pas de réservations</h3>
                        {% endif %}
                    </div>						
				</div>
			</div>
		</section>
		{% endblock %}
</section> 



